.card {
  display: inline-block;
}

.cardImage {
  background-position: 50%;
  background-size: 200%;
  /* TODO - remove important */
  padding: 10px !important;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-image: url('../../../../public/pokemon-wallpaper.jpg');
}

.cardTitle {
  text-align: center;
}
